# UE build/cache
Binaries/
DerivedDataCache/
Intermediate/
Saved/
# IDE
.vs/
.idea/
.vscode/
*.VC.db
*.VC.opendb
*.sln
*.suo
# Logs & autosaves
*.log
*_BuiltData.uasset
# Local builds/exports
/Builds/
